.container {
    margin-top: 20px;
}

.product {
    width: 100%;
    height: 80%;
}

.product2 {
    width: 100%;
    height: 80%;
}

.product:hover {
    transform: scale(1.1);
}

.img-container {
    text-align: center;
}