@font-face {
  font-family: 'Anurati';
  src: url('anurati.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat.ttf') format('opentype');
}

@font-face {
  font-family: 'Consolas';
  src: url('consolas.ttf') format('opentype');
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2E2E2E;
}

body::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #2E2E2E;
}

.text-normal {
  font-family: 'Montserrat', sans-serif;
}

.text-logo {
  font-family: 'Anurati';
}

body {
  margin: 0;
}

.top-nav {
  background-color: #1b1b1b;
  overflow: hidden;
}

.dropdown-nav {
  display: none;
}

.home-btn {
  font-size: 13px;
}

.nav-btn {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 15px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  border-bottom: solid #1b1b1b 2px;
}

.nav-sub:hover {
  border-bottom: solid white 2px;
}

.nav-split {
  float: right;
  color: white;
}

.nav-sub {
  font-size: 13px;
  font-weight: 500;
}

.gradient-div {
  height: 700px;
  background-image: url(desktop1.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(100%);
  transition: background-image 1s ease-in-out;
  /*background: linear-gradient(to bottom, #8080FF, #81D3F8);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-div table td {
  padding: 15px;
}

.logo-moto {
  border-right: solid black 2px;
}

.main-logo {
  font-size: 60px;
  background-image: linear-gradient(to bottom, black, #4b0082);
  -webkit-background-clip: text; /* For WebKit browsers */
  color: transparent; /* Set text color to transparent */
  display: inline-block; 
}

.moto {
   color: #4b0082;
}

.introduction {
  font-weight: 600;
}

.register-btn {
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #4b0082;
  transition: background 0.3s ease-in-out;
  border: none;
}

.register-btn:hover {
  background-color: black;
}

.bgm {
  display: none;
}